<?xml version="1.0" encoding="utf-8"?>
<manifest android:sharedUserId="android.media" android:versionCode="15" android:versionName="4.0.4-ybt3zw" android:sharedUserLabel="@string/uid_label" package="com.android.providers.media"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-sdk android:minSdkVersion="15" android:targetSdkVersion="15" />
    <permission android:name="com.sonyericsson.mtp.permission.USE_MTP_STACK" android:protectionLevel="signatureOrSystem"
      xmlns:android="http://schemas.android.com/apk/res/android" />
    <permission android:label="" android:name="com.sonymobile.mtp.permission.CONTROL_MTP_STACK" android:protectionLevel="signatureOrSystem"
      xmlns:android="http://schemas.android.com/apk/res/android" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_MEDIA_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_MTP" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.sonyericsson.mtp.permission.MTP_STACK" />
    <uses-permission android:name="com.sonymobile.mtp.permission.MTP_IP_UI" />
    <uses-permission android:name="com.sonymobile.mtp.permission.CONTROL_MTP_STACK" />
    <application android:label="@string/app_label" android:process="android.process.media">
        <provider android:name="MediaProvider" android:multiprocess="false" android:authorities="media" />
        <receiver android:name="MediaUpgradeReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PRE_BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name="MediaScannerReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <data android:scheme="file" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_UNMOUNTED" />
                <action android:name="android.intent.action.MEDIA_EJECT" />
                <action android:name="android.intent.action.MEDIA_BAD_REMOVAL" />
                <data android:scheme="file" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_SCANNER_SCAN_FILE" />
                <data android:scheme="file" />
            </intent-filter>
        </receiver>
        <service android:name="MediaScannerService" android:exported="true">
            <intent-filter>
                <action android:name="android.media.IMediaScannerService" />
            </intent-filter>
        </service>
        <receiver android:name="UsbReceiver">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_STATE" />
            </intent-filter>
        </receiver>
        <receiver android:name="IpReceiver" android:permission="com.sonymobile.mtp.permission.CONTROL_MTP_STACK">
            <intent-filter>
                <action android:name="com.sonymobile.mtpwifi.REQUEST_GET_MTP_STACK_MODE" />
                <action android:name="com.sonymobile.mtpwifi.REQUEST_SET_MTP_STACK_MODE" />
                <action android:name="com.sonymobile.mtpwifi.NOTIFY" />
            </intent-filter>
        </receiver>
        <service android:name="MtpService" />
    </application>
</manifest>
